*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
    /* display: flex;
    justify-content: center; */
    align-items: center;
    background: url("../Images/11.jpg")no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #1c1c1c;
    min-height: 100vh;
}
.header {
    background-color: #21C87A;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    border-radius: 100px;
    width: 40px; /* Adjust the width of the logo as needed */
    height: auto;
    margin-right: 10px; /* Add some spacing between the logo and website name */
}
.logo a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.navbar {
    font-size: 25px;
    background-color: #21C87A;
    overflow: hidden;
    position: sticky;
    top: 0;
    right: 0;
    width: 1500px;
}
.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.bodyC{
    position: relative;
    /* top: 100px; */
    width: 1200px;
    display: block;
    justify-content: center;
    padding: 50px;
    margin-left: 200px;
    margin-top: 85px;
}
.find{
    color: #21C87A;
    font-size: 60px;
}
.bodyC p{
    color: #ddd;
    font-size: 22px;
}
.search-container {
    display: flex;
    align-items: center;
    background-color: #21C87A;
    border-radius: 12px 8px 8px 12px;
    margin-left: 200px;
    width: 600px; /* Adjust the width as needed */
}
.search-input {
    flex-grow: 1;
    border: none;
    border-radius: 12px;
    padding: 5px;
    font-size: 20px;
    text-align: center;

}
.search-icon {
    fill: #fff; /* Icon color */
    width: 30px; /* Icon size */
    height: 30px;
    margin-right: 5px;
}
.btn {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 400px;
}
.btn input{
    width: 150px;
    height: 50px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 50px;
}
.ftr{
    width: 100%;
    background-color: #21C87A;
    position: sticky;
    bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 22px;
    height: 60px;
    justify-content: space-between;
    padding: 17px;
}
.btn input{
    background-color: #21C87A;
}
.footer{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 30px;
    margin-top: 75px;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    width: 50px;
    height: auto;
    border-radius: 100px;
    margin-right: 10px;
}
.image h1{
    color: #ffffff;
    font-size: 30px;
}
.socialicons{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socialicons a{
    padding-right: 20px;
}
.socialicons p{
    color: #fff;
    padding-right: 25px;
    font-size: 20px;
}